/* Réinitialisation des styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles de base */
.contain {
    margin-bottom: 2px;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh !important;
    overflow: hidden !important; /* Pour éviter le défilement vertical de la page */
}

.menu {
    margin-top: 80px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    text-align: center; 
    margin: 0 auto;
    max-height: calc(100vh - 20px); 
    overflow: auto; 
    /*margin-bottom: 50px !important;*/
}

.plat {
    margin-top: 50px;
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border-radius: 20px;
    margin: 5px;
    border-radius: 20px;
    padding: 2px;
}

.plat img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.plat-details {
    padding-top: 10px;
}

.prix {
    color:grey;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: medium;
}

.description {
    line-height: 1.5;
    color: #555;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    text-transform: uppercase;
}

.navbar a {
    color: beige !important;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #f39c12;
    font-weight: bold;
    color: white;
}